.container__card--content {
  align-items: center;
  cursor: pointer;
  display: flex;
}

.card__content {
  display: flex;
  margin-right: 40px;
  text-decoration: none;
}

.card__content img {
  border-radius: 15px;
  margin-right: 50px;
  mask-image: linear-gradient(to left, transparent 1%, black 40%);
  width: 110px;
}

.card__content--name {
  color: #734e40;
  font-size: 20px;
  font-weight: 600;
}
