.container__foods {
  margin-bottom: 70px;
}

.container__foods--categories {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}


.container__foods--categories--button button {
  align-items: center;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  margin-right: 5px;
  padding: 0;
  transition: all 0.3s ease-in-out;
}

.container__foods--categories--button button:hover {
  transform: scale(1.1);
}

.container__foods--categories--button img {
  border-radius: 10px;
  height: 45px;
  mask-image: linear-gradient(to top, transparent 4%, black 30%);
  width: 60px;
}

.container__foods--btnAll {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.btnAll {
  background-color: #fc6432e5;
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  padding: 4px;
  width: 35%;
}

.container__foods--recipes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 18px;
  margin-top: 40px;
  width: 320px;
}

.container__foods--card {
  background-color: #f2c08f;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}
