.container__recomendation {
  overflow: auto;
  width: 360px;
}

.teste {
  display: flex;
  overflow-x: auto;

}

.card__recomendation {
  background-color: white;
  margin-left: 60px;
  padding: 40px;
}

