.App {
  align-items: center;
  background-color: #f2d6b3;
  border: 3px solid black;
  border-radius: 35px;
  box-shadow: 0 0 10px black;
  display: flex;
  flex-direction: column;
  height: 640px;
  min-height: 640px;
  position: relative;
  width: 360px;
}

img {
  width: 16px;
}
