.App {
  align-items: center;
  background-color: #f2d6b3;
  border: 3px solid black;
  border-radius: 35px 35px 25px 25px;
  box-shadow: 0 0 10px black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 640px;
  min-height: 640px;
  overflow: auto;
  position: relative;
  width: 360px;
}

::-webkit-scrollbar {
  width: 1px;
}

img {
  width: 16px;
}

.title-group {
  margin-bottom: 40px;
  text-align: center;
}

.title-group h1 {
  color: #f4cd6d;
  font-family: Caveat , cursive;
  font-size: 70px;
  margin: 0;
  text-shadow: 0 1px 10px #ffb70075;
}

.title-group span {
  color: #f1cb69;
  font-family: Caveat , cursive;
  font-size: 40px;
  font-weight: 600;
  text-shadow: 0 1px 10px #fab300;
}
